.login_box{
    display: flex;
    flex-direction: row;
    background: radial-gradient(circle at 12% 75%, #6dc9ffe3 0%, #ffffff 55%);
}

.box{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
