### Gradle ###
.gradle/
build/
!backend/gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### Logs / Temp ###
*.log
*.db
*.sqlite
.env

### OS ###
.DS_Store
ehthumbs.db
Thumbs.db

### Spring Boot Config (do not upload sensitive configs) ###

**/src/main/resources/application.yml
