### Gradle ###
.gradle/
build/
!backend/gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### Logs / Temp ###
*.log
*.db
*.sqlite
.env

### OS ###
.DS_Store
ehthumbs.db
Thumbs.db

### Resources (무조건 무시) ###
**/src/main/resources/
**/src/test/resources/

### Spring Boot Config (민감 설정) ###
application*.yml
bootstrap*.yml
application*.properties
bootstrap*.properties
