.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 168px;
    background: linear-gradient(to bottom, #ffffff 12%, #BBE4FC 50%, #ffffff 100%);;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
}

#intro-textbox{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
}

#intro-big{
    font-size: 72px;
    font-weight:700;
    color: #333;
    text-align: center;
    margin-bottom: 0;
    width: 80%;
}
#intro-small{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    width: 60%;
    margin-top: 12px;
}

#go-findTaste-button{
    background: linear-gradient(90deg, #41a6ff, #3E55BF);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
}

#go-findTaste-button:hover{
    border: 1px solid #dedede;
    background: white;
    color: #50b9ff;
    transform: scale(1.1);
}

#go-findTaste_Hobbytest{
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

#go-findTaste_Hobbytest:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

#intro-buttons{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.body-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}