spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

  ai:
    openai:
      api-key: "openai-secret-key-for-test-logic-it-is-just-example-of-openai-key"
      chat:
        options:
          model: gpt-4o-mini

jwt:
  secret: "a-mu-gu-na-a-mu-gu-na-a-mu-gu-na-a-mu-gu-na-a-mu-gu-na-a-mu-gu-na-"